streamlit==1.42.2
pandas==2.2.3
numpy==1.26.4
pyarrow==18.1.0
openpyxl==3.1.5
Pillow==10.4.0
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
