streamlit==1.40.2
pandas==2.1.4
openpyxl==3.1.2
Pillow==10.2.0
google-api-python-client==2.111.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
networkx==3.2.1
numpy==1.26.3
plotly==5.18.0
